*{
    box-sizing: border-box;
}


html, body{
    background: #1C1F2A;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.navbar{
    background: #000000;
    color: white;
    display: flex;
    list-style: none;
    width: 100vw;
    height: 100px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
}
.navbar a{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.navbar li:first-child{
    padding-left: 120px;
}

.navbar li:last-child{
    padding-right: 120px;
}

table{
    width: 90%;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0 15px;

}
table thead{
    background: #171921;
}

table th, td{
    color: white;
    padding: 25px;
    text-align: center;

}
table td{
    font-size: 18px;
    font-weight: 400;
}
table th{
    background: #171921;
    font-size: 20px;
}
table tbody tr{
    border-radius: 6px;
    background: 
    linear-gradient(to bottom right, #20242F 9%, #10141D 50%) bottom right / 50% 50% no-repeat, 
    linear-gradient(to bottom left, #20242F 9%, #10141D 50%) bottom left / 50% 50% no-repeat, 
    linear-gradient(to top left, #20242F 9%, #10141D 50%) top left / 50% 50% no-repeat, 
    linear-gradient(to top right, #20242F 9%, #10141D 50%) top right / 50% 50% no-repeat;
    background-attachment: fixed;
}


table td:nth-child(5) {
    font-size: 20px;
    font-weight: 500;
    background-color: #BC194F;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    display: flex;  /* Use flexbox for perfect centering */
    justify-content: center;  /* Center horizontally */
    align-items: center;  /* Center vertically */
}
